<div
  class="feedback-container tw-bg-[#1f232f] tw-rounded-lg tw-shadow-md tw-p-6 tw-my-4 tw-hover:tw-shadow-lg tw-transition"
>
  <header class="tw-flex tw-items-center tw-flex-col tw-mb-4">
    <img
      srcset="{{picture}}"
      alt="Image de profil"
      class="tw-rounded-full tw-h-12 tw-w-12 tw-mr-4"
    />
    <span class="tw-text-white tw-text-xl">⭐⭐⭐⭐⭐</span>
    <h3 class="tw-font-bold tw-text-white">{{ prenom }}</h3>
  </header>
  <p class="tw-text-gray-400 tw-text-sm">
    {{ review }}
  </p>
</div>
