

.overview-outline{
    background-image: radial-gradient(at top right, var(--e-global-color-5b5a8c1) 0%, var(--e-global-color-b034bb0) 100%);
    box-shadow: 10px 10px 25px 0px #0E1015;
    padding:3px;
    border-radius: 26px 26px 26px 26px;
    width: fit-content;
    margin: auto;
}

.overview-container{
    width: 80vw;
    padding: 50px 50px 50px 50px;
    background-color:#1f232f;
    border-radius: 26px 26px 26px 26px;
  
}