<div class="container mt-5">
    <h2>Liste des demande d'inscription</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Formation</th>
                <th scope="col">Étudiant</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of listeDemande,index as i">
                <td>{{d.titre}}</td>
                <td>{{d.nom}} {{d.prenom}}</td>
                <td>
                    <button class="btn btn-success" (click)="accepterDemande(d.idFormation,d.idEtudiant,i)">Accepter</button>
                    <button class="btn btn-danger" (click)="refuserDemande(d.idFormation,d.idEtudiant,i)">Refuser</button>
                </td>

            </tr>

        </tbody>
    </table>
</div>