<div
  class="tw-text-white tw-bg-transparent tw-container tw-flex tw-flex-col md:tw-flex-row tw-gap-12 tw-mx-auto tw-justify-start tw-items-start tw-text-left"
>
  <div
    class="tw-container tw-flex tw-flex-col tw-gap-2 tw-text-left tw-justify-center tw-items-center tw-mx-auto"
  >
    <div>
      <p>Tunis-Denden Imm Ben Jemiaa.</p>
      <p>contact&#64;master-class.tn</p>
      <p>+216 94 082 032 / +216 58 048 268</p>
    </div>
  </div>

  <div
    class="tw-container tw-hidden md:tw-flex tw-justify-center tw-items-center tw-flex-col tw-gap-2 tw-font-medium tw-mx-auto"
  >
    <div>
      <p class="tw-w-full tw-text-left">Formations</p>
      <p class="tw-w-full tw-text-left">A propos</p>
      <p class="tw-w-full tw-text-left">Contactez-nous</p>
    </div>
  </div>

  <div
    class="tw-container tw-hidden md:tw-flex tw-justify-center tw-items-center tw-flex-col tw-gap-2 tw-font-medium tw-mx-auto"
  >
    <div>
      <p>Règlement</p>
      <p>Parrainage</p>
      <p>Blog</p>
    </div>
  </div>
</div>

<div class="copyright-container tw-py-4 tw-text-white">
  <p>Copyright © 2024 MasterClass | Made with ♥</p>
</div>
