.copyright-container{
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: var(--e-global-color-5b5a8c1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 11px;
    margin-bottom: 0px;
    text-align: center;
}